.places {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
 }

.place {

}

.places__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: normal;
    max-width: 460px;
    padding: 0;
    margin: 0 auto 48px 0;
}

.places__image {
    max-width: 460px;
    max-height: 460px;
}