.cover {
  margin: 92px 48px 0;
}

@media all and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
  }
}

@media all and (max-width: 768px) {
  .cover {
    margin: 90px 0 0;
  }
}

@media all and (max-width: 600px) {
  .cover {
    margin: 66px 0 0;
  }
}
